.otsikko{
    font-size: 50px;
    text-align: center;
}
.kartta{
       margin-left: 30%;
   }
body{
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
    justify-content: center;
}
div {
    width: 1700px;
    height: 300px;
    border-color: white;
    border: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
}
h1{
    background-color: white;
    width: 1700px;
    height: 200px;
    text-align: center;
}
.topnav {
    height: 150px;
    background-color: #ffffff;
    overflow: hidden;
}
.topnav a {
    width: 500px;
    height: 150px;
    float: none;
    color: #000000;
    text-align: center;
    padding: 0;
    font-size: 30px;
}
.topnav a:hover {
    background-color: #000000;
    color: #ffffff;
}
.topnav a.active {
    background-color: #000000;
    color: #ffffff;
}
.button {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #a4968c;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #a4968c;
}
.popup .close:hover {
    color: #d8c1bd;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 30px;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
